<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>

<div *ngIf="!gameState.fullScreen">
  <app-terminal-executed-commands [lines]="gameState.lines"></app-terminal-executed-commands>
  <app-terminal-input></app-terminal-input>
</div>

<div *ngIf="gameState.fullScreen">
  <div *ngIf="gameState.showVideo">
    <app-terminal-video [lines]="gameState.showVideoLines"></app-terminal-video>
  </div>

  <div *ngIf="!gameState.showVideo">
    <app-terminal-full-screen></app-terminal-full-screen>
  </div>
</div>
