<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>

<div id="container" [class]="'dynamic-bg-' + background">

  <div id="terminal">

    <!-- Terminal Bar -->
    <section id="terminal__bar">
      <div id="bar__buttons">
        <button class="bar__button" id="bar__button--exit">&#10005;</button>
        <button class="bar__button">&#9472;</button>
        <button class="bar__button">&#9723;</button>
      </div>
      <p id="bar__user">Outer Wilds</p>
    </section>

    <!-- Terminal Body -->
    <section id="terminal__body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <div *ngIf="!fullScreen" id="terminal__prompt">

        <div *ngFor="let line of lines">
          <div *ngIf="line.location != null">
            <span class="terminal__prompt--location">[{{line.location}}] ></span>
            <span class="terminal__prompt--command">{{line.command}}</span>
          </div>
          <div *ngIf="line.response != null">
            <span class="terminal__prompt--response">{{line.response}}</span>
          </div>
        </div>

        <span class="terminal__prompt--location">[{{ location }}] ></span>
        <!--suppress AngularUndefinedBinding -->
        <input type="text" class="console-input" [(ngModel)]="input" placeholder="Type command..."
               (keydown.enter)="parseCommand()" [autofocus]>
      </div>
      <div *ngIf="fullScreen">
        <span class="terminal__prompt--response">{{ fullScreenText }}</span>
      </div>
    </section>
  </div>
</div>
