<div class="container" [class]="'dynamic-bg-' + gameState.backgroundColor">
  <div class="terminal">

    <section class="title-bar">
      <div class="buttons">
        <button class="button button-exit">&#10005;</button>
        <button class="button">&#9472;</button>
        <button class="button">&#9723;</button>
      </div>
      <p class="title">Outer Wilds</p>
    </section>

    <!-- Terminal Body -->
    <section class="body" #body>
      <app-terminal-body></app-terminal-body>
    </section>
  </div>
</div>
